[data-sandbox-cursor-loader] {
  position: fixed;
  top: 50%;
  left: -100px;
  transform: translateX(-50%) translateY(-50%);

  border-radius: 50%;

  z-index: 10000;
  pointer-events: none;
  transition: all 0ms ease-out;
}

[data-sandbox-cursor-loader][data-size='sm'] {
  height: 30px;
  width: 30px;
}

[data-sandbox-cursor-loader][data-size='md'] {
  height: 60px;
  width: 60px;
}

[data-sandbox-cursor-loader][data-size='lg'] {
  height: 80px;
  width: 80px;
}

[data-sandbox-cursor-loader][data-trail-delay='100'] {
  transition-duration: 100ms;
}

[data-sandbox-cursor-loader][data-trail-delay='200'] {
  transition-duration: 200ms;
}

[data-sandbox-cursor-loader][data-trail-delay='300'] {
  transition-duration: 300ms;
}

[data-sandbox-cursor-loader][data-trail-delay='500'] {
  transition-duration: 500ms;
}
